div {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: orangered;
   border: 2px solid royalblue;
   animation-name: move;
   animation-duration: 2s;
   animation-timing-function: ease-in;
   animation-delay: 1s;
   text-align: center;
   
}
p {
    text-align: center;
    vertical-align: center;
}

@keyframes  move {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(200px, 200px);
    }
}